.navBar {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    li {
      width: 100%;
    }
  }
  .socials {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
    img {
      height: 36px;
      width: 36px;
    }
  }
}

.radio {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 100px;
  button {
    position: relative;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  img {
    height: auto;
    width: 60px;
  }
}

.navBarBook {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .radio {
    position: fixed;
    top: 21px;
    right: 100px;
    padding-right: 0;
  }
  .whiteEllipse {
    left: 0;
    position: relative;
    height: auto;
    width: 320px;
    div {
      top: 70px;
      position: absolute;
      font-family: "buffon", serif;
      font-size: 58px;
      left: 7px;
    }
  }
  .socials {
    display: flex;
    position: fixed;
    top: 30px;
    left: 100px;
    gap: 0;
    img, a {
      height: 36px;
      width: 36px;
    }
  }
}
