* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F2C710;
  overflow-y: hidden;
}

@font-face {
  font-family: "buffon";
  src: url("../public/fonts/Buffon-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
