.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  --toastify-color-success: #E9D33B;
}

.Toastify__toast {
  font-family: "Lora", serif;
  box-shadow: none;
}

.cat {
  display: flex;
  height: 175px;
  width: 215px;
  padding-top: 20px;
  img {
    position: relative;
  }
  :first-child {
    animation: flashlight 2.5s ease-in-out infinite
  }
  :last-child {
    left: -273px;
    top: -27px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
  :first-child {
    color: #245B9A;
    font-family: "Lora", serif;
    font-size: 28px;
    font-weight: 600;
    @media (max-width: 800px) {
      font-size: 20px;
    }
  }
  :last-child {
    font-family: "buffon", serif;
    font-size: 96px;
    @media (max-width: 800px) {
      font-size: 58px;
    }
  }
}

.url {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
  font-size: 28px;
  font-family: "Lora", serif;
  @media (max-width: 800px) {
    font-size: 20px;
    width: 100%;
    padding: 0 40px;
    :first-child {
      max-width: 558px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  :first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: bold;
    cursor: pointer;
    button {
      background: transparent;
      border: 0;
      margin-right: 20px;
      font-size: 24px;
      @media (max-width: 800px) {
        font-size: 16px;
        font-weight: 600;
      }
    }
    :first-child {
      border: 0;
      padding: 10px;
      font-weight: 400;
    }
  }
}

.rm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-top: 80px;
  @media (max-width: 800px) {
    margin-top: 40px;
  }
  a {
    cursor: pointer;
    color: white;
    font-family: "Lora", serif;
    font-size: 22px;
    clip-path: polygon(2% 16%, 97% 0, 100% 100%, 0 85%);
    padding: 20px;
    background: #245B9A;
    border: 0;
    text-decoration: none;
    animation: rotateButton 2.5s ease-out infinite
  }
  :last-child {
    width: 500px;
    display: flex;
    position: absolute;
    bottom: -100px;
    @media (max-width: 600px) {
      width: 250px;
      left: 20px;
      bottom: -100px;
    }
    @media (max-height: 800px) {
      position: relative;
      bottom: -17px;
      left: -105px;
    }
    :first-child {
      position: relative;
      bottom: 40px;
      left: 30px;
    }
    :last-child {
      width: 538px;
      z-index: -1;
      position: absolute;
      @media (max-width: 600px) {
        width: 450px;
      }
      animation: flashlight 2.5s ease-out infinite
    }
  }
}
