.book {
  position: relative;
}

.bookPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #F1E9C0;
}

.bookElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &.mobile {
    flex-direction: column;
    margin-top: 0;
  }
  .lines {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 30px;
    img {
      width: auto;
    }
  }
  .nextButton, .backButton {
    height: min-content;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    img {
      position: absolute;
      top: 25px;
      left: 30px;
    }
    .arrow {
      width: 80px;
      height: 80px;
      margin: 10px;
      background: #D7695A;
      position: relative;
      animation: rotateArrows 6s linear infinite;
    }
    .arrow:before,
    .arrow:after {
      content: "";
      height: 80px;
      width: 80px;
      background: inherit;
      position: absolute;
      top: 0;
      left: 0;
    }
    .arrow:before {
      transform: rotate(30deg);
    }
    .arrow:after {
      transform: rotate(60deg);
    }
    img {
      width: auto;
    }
  }
  .nextButton img {
    transform: rotate(-180deg);
  }
  .backButton img {
    left: 35px;
  }
  .mobileButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
  .vignette {
    position: absolute;
    z-index: 10;
    opacity: 0.6;
    webkit-box-shadow:
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E;

    -moz-box-shadow:
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E;

    box-shadow:
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E,
            inset 0 0 25px #A69B7E;
  }
  .bookImage {
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: 0 0;
      transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}
